<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block html-title %}Py-CCG{% end %}</title>
    {% block html-head %}{% end %}

</head>

<body>

    <div id="main-content">
        {% block content %} {% end %}
    </div>

</body>
</html>
