body {
    background-color: black;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.cardWrapper {
    width: 172px;
    height: 265px;
    position: relative;
    /*background-color:#333;*/
    float: left;
    margin-right: 10px;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
}

.cardFace {
    position: absolute;
    width: 172px;
    height: 265px;
    overflow: hidden;
    /*border: 2px solid #dadada;*/
    /*border-radius: 7px;*/

    /*border-color: #9ecaed;*/
    /*box-shadow: 2px 0 10px #9ecaed;*/
}

.borderOn {
    /*border-bottom: 2px solid #dadada;*/
    outline: none;
    border-radius: 3px;
    /*border-color: #9ecaed;*/
    /*box-shadow: 2px 0 10px #9ecaed;*/
    box-shadow: 0 7px 5px -4px #9ecaed;
}

.front {
    /*background-color:#333;*/
}

.back {
    /*background-color:#333;*/
}

.cardFace h1 {
    margin: 0px;
    font-size: 30px;
    /*padding:10px 0px 10px 10px;*/
    border-bottom: solid 6px #aaa;
    border-top: solid 6px #aaa;
    background-color: black;
    color: white;
}

.cardFace IMG {
    margin: -17px 0 0 -10px;
}

.cardFace.back IMG {
    margin: -17px 0 0 -10px;
}

.cardFace.back h1 {
    border-color: #91e600;
}

.moreInfo {
    padding: 10px;
    color: white;
    line-height: 24px;

}