{% extends "layouts/base.html" %}
{% block content %}
<h3>
    Lets work with DB
</h3>

<img src="http://wow.zamimg.com/images/hearthstone/cards/ruru/medium/{{ card.ingame_id}}.png"><br>
ID: {{ card.ingame_id }}<br>
Name: {{ card.name }}<br>
Cost: {{ card.cost }}<br>
Health: {{ card.health }}<br>
Attack: {{ card.attack }}<br>
Durability: {{ card.durability }}<br>
Player class: {{ card.player_class }}<br>
Card type: {{ card.c_type }}<br>
Faction: {{ card.faction }}<br>
Race: {{ card.race }}<br>

{#
{{ card.ingame_id }}
{{ card.name }}
{{ card.language }}
{{ card.cost }}
{{ card.health }}
{{ card.attack }}
{{ card.durability }}
{{ card.get_pclass_display }}
{{ card.get_type_display }}
{{ card.get_faction_display }}
{{ card.get_race_display }}
#}

{% end %}
