{% extends "layouts/base.html" %}
{% block content %}
<h3>
    Lets work with DB
</h3>
<p>Links</p>
<ul>
    <li><a href="">some</a></li>
</ul>

<ul>
    {% for i in cards_list %}
        <li>{{ i }}</li>
    {% end %}
</ul>
{% end %}
