{% extends "layouts/base.html" %}


{% block html-head%}
    <title>Mapper</title>

    <link rel="stylesheet" href="static/css/cards.css" type="text/css" />

    <script src="http:////ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--CDN link for the latest TweenMax-->
    <!--<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>-->

    <!--<script type="text/javascript" src="static/greenchock/uncompressed/TimelineLite.js"></script>-->
    <!--<script type="text/javascript" src="static/greenchock/uncompressed/TweenLite.js"></script>-->

    <script type="text/javascript" src="static/greenchock/uncompressed/TweenMax.js"></script>
    <script type="text/javascript" src="static/greenchock/uncompressed/TimelineMax.js"></script>


    <script type="text/javascript" src="static/greenchock/uncompressed/easing/EasePack.js"></script>
    <script type="text/javascript" src="static/greenchock/uncompressed/utils/Draggable.js"></script>
    <script type="text/javascript" src="static/greenchock/uncompressed/plugins/CSSPlugin.js"></script>
    <script type="text/javascript" src="static/greenchock/uncompressed/jquery.gsap.js"></script>

    <script type="text/javascript" src="static/greenchock/minified/plugins/Physics2DPlugin.min.js"></script>
    <script type="text/javascript" src="static/greenchock/minified/plugins/PhysicsPropsPlugin.min.js"></script>

    <script type="text/javascript" src="static/js/cards.js"></script>
{% end %}


{% block content %}

<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <img src="static/img/cards/CS2_038.png">
    </div>
  </div>
</div>


<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <!--<img src="http://wow.zamimg.com/images/hearthstone/cards/ruru/original/EX1_134.png">-->
        <img src="http://wow.zamimg.com/images/hearthstone/cards/ruru/medium/EX1_134.png?6486">
    </div>
  </div>
</div>

<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <img src="static/img/cards/CS2_038.png">
    </div>
  </div>
</div>

<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <img src="static/img/cards/CS2_038.png">
    </div>
  </div>
</div>


<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <img src="static/img/cards/CS2_038.png">
    </div>
  </div>
</div>


<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <!--<img src="http://wow.zamimg.com/images/hearthstone/cards/ruru/original/EX1_134.png">-->
        <img src="http://wow.zamimg.com/images/hearthstone/cards/ruru/medium/EX1_134.png?6486">
    </div>
  </div>
</div>

<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <img src="static/img/cards/CS2_038.png">
    </div>
  </div>
</div>

<div class="cardWrapper">
  <div class="card">
    <div class="cardFace front">
        <img src="static/img/cards/Card_Back_Default.png">
    </div>
    <div class="cardFace back">
        <img src="static/img/cards/CS2_038.png">
    </div>
  </div>
</div>

    <!--{% if globals().get('status') %}Status - {{ status }}{% end %}-->

{% end %}
